body {
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Poppins', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --primary-color: #14213d;  
  --azul-medio: #2E5984;
  --azul-claro: #A9CCE3;  
  --secondary-color: #B8860B;
  --dourado-claro: #FFD700;   
  --background-color: #1B3A4B;  
  --text-color: #fff;
  --black: #000;       
}

a {
  text-decoration: none;
}
